In [53]:
import numpy as np

In [54]:
import pandas as pd

In [57]:
data = pd.read_csv(r"train.csv")

In [58]:
data

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,31-03-2023 23:57,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Tuesday,MISSION,"ARREST, BOOKED",POTRERO AV / 21ST ST,-122.406803,37.757763
1,31-03-2023 23:55,DISORDERLY CONDUCT,COMMITTING PUBLIC NUISANCE,Tuesday,TARAVAL,NONE,2600 Block of 23RD AV,-122.479590,37.738186
2,31-03-2023 23:50,VANDALISM,"MALICIOUS MISCHIEF, BREAKING WINDOWS",Tuesday,PARK,NONE,1300 Block of HAIGHT ST,-122.444524,37.770370
3,31-03-2023 23:30,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Tuesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,31-03-2023 23:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Tuesday,PARK,NONE,1200 Block of GROVE ST,-122.437159,37.775975
...,...,...,...,...,...,...,...,...,...
373984,11-01-2018 00:01,LARCENY/THEFT,PETTY THEFT OF PROPERTY,Monday,SOUTHERN,NONE,700 Block of HARRISON ST,-122.397814,37.782137
373985,11-01-2018 00:01,SEX OFFENSES NON FORCIBLE,UNLAWFUL SEXUAL INTERCOURSE,Monday,MISSION,COMPLAINANT REFUSES TO PROSECUTE,600 Block of CAPP ST,-122.417665,37.756291
373986,11-01-2018 00:01,FRAUD,"CREDIT CARD, THEFT BY USE OF",Monday,INGLESIDE,NONE,300 Block of WILDE AV,-122.403756,37.716710
373987,11-01-2018 00:01,MISSING PERSON,MISSING ADULT,Monday,SOUTHERN,LOCATED,800 Block of BRYANT ST,-122.403405,37.775421
373988,11-01-2018 00:01,FORGERY/COUNTERFEITING,"CHECKS, FORGERY (FELONY)",Monday,NORTHERN,NONE,3600 Block of LYON ST,-122.448278,37.804272

In [5]:
data['Category'] = data['Category'].replace({'LARCENY/THEFT':'THEFT'})

In [6]:
data['Category'] = data['Category'].replace({'BURGLARY':'THEFT'})

In [7]:
data['Category'] = data['Category'].replace({'ROBBERY':'THEFT'})

In [8]:
data['Category'] = data['Category'].replace({'STOLEN PROPERTY':'THEFT'})

In [9]:
data['Category'] = data['Category'].replace({'DISORDERLY CONDUCT':'OTHER OFFENSES'})

In [10]:
data['Category'] = data['Category'].replace({'VANDALISM':'OTHER OFFENSES'})

In [11]:
data['Category'] = data['Category'].replace({'WARRANTS':'OTHER OFFENSES'})

In [12]:
data['Category'] = data['Category'].replace({'SUSPICIOUS OCC':'OTHER OFFENSES'})

In [13]:
data['Category'] = data['Category'].replace({'ARSON':'OTHER OFFENSES'})

In [14]:
data['Category'] = data['Category'].replace({'NON-CRIMINAL':'OTHER OFFENSES'})

In [15]:
data['Category'] = data['Category'].replace({'TRESPASS':'OTHER OFFENSES'})

In [16]:
data['Category'] = data['Category'].replace({'SUICIDE':'OTHER OFFENSES'})

In [17]:
data['Category'] = data['Category'].replace({'SECONDARY CODES':'OTHER OFFENSES'})

In [18]:
data['Category'] = data['Category'].replace({'RUNAWAY':'OTHER OFFENSES'})

In [19]:
data['Category'] = data['Category'].replace({'BAD CHECKS':'OTHER OFFENSES'})

In [20]:
data['Category'] = data['Category'].replace({'LOITERING':'OTHER OFFENSES'})

In [21]:
data['Category'] = data['Category'].replace({'TREA':'OTHER OFFENSES'})

In [22]:
data['Category'] = data['Category'].replace({'RECOVERED VEHICLE':'OTHER OFFENSES'})

In [23]:
data['Category'] = data['Category'].replace({'FAMILY OFFENSES':'OTHER OFFENSES'})

In [24]:
data['Category'] = data['Category'].replace({'VEHICLE THEFT':'THEFT'})

In [25]:
data['Category'] = data['Category'].replace({'SEX OFFENSES FORCIBLE':'PROSTITUTION'})

In [26]:
data['Category'] = data['Category'].replace({'SEX OFFENSES NON FORCIBLE':'PROSTITUTION'})

In [27]:
data['Category'] = data['Category'].replace({'PORNOGRAPHY/OBSCENE MAT':'PROSTITUTION'})

In [28]:
data['Category'] = data['Category'].replace({'DRIVING UNDER THE INFLUENCE':'PROSTITUTION'})

In [29]:
data['Category'] = data['Category'].replace({'DRIVING UNDER THE INFLUENCE':'DRUNKENNESS'})

In [30]:
data['Category'] = data['Category'].replace({'DRUG/NARCOTIC':'DRUNKENNESS'})

In [31]:
data['Category'] = data['Category'].replace({'LIQUOR LAWS':'DRUNKENNESS'})

In [32]:
data['Category'] = data['Category'].replace({'BRIBERY':'FRAUD'})

In [33]:
data['Category'] = data['Category'].replace({'GAMBLING':'FRAUD'})

In [34]:
data['Category'] = data['Category'].replace({'FORGERY/COUNTERFEITING':'FRAUD'})

In [35]:
data['Category'] = data['Category'].replace({'EXTORTION':'FRAUD'})

In [36]:
data['Category'] = data['Category'].replace({'EMBEZZLEMENT':'FRAUD'})

In [37]:
data['Category'] = data['Category'].replace({'MISSING PERSON':'FRAUD'})

In [38]:
data['Category'] = data['Category'].replace({'WEAPON LAWS':'ASSAULT'})

In [39]:
#label encoding DayOfWeek
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
data['DayOfWeek'] = label_encoder.fit_transform(data['DayOfWeek'])

In [40]:
#count encoding PdDistrict,Resolution,Address
import category_encoders as ce
count_encoder = ce.CountEncoder()
data['PdDistrict'] = count_encoder.fit_transform(data['PdDistrict'])
data['Resolution'] = count_encoder.fit_transform(data['Resolution'])
data['Address'] = count_encoder.fit_transform(data['Address'])

In [41]:
data

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,31-03-2023 23:57,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",5,50296,83662,13,-122.406803,37.757763
1,31-03-2023 23:55,OTHER OFFENSES,COMMITTING PUBLIC NUISANCE,5,26714,227419,15,-122.479590,37.738186
2,31-03-2023 23:50,OTHER OFFENSES,"MALICIOUS MISCHIEF, BREAKING WINDOWS",5,22024,227419,82,-122.444524,37.770370
3,31-03-2023 23:30,THEFT,GRAND THEFT FROM LOCKED AUTO,5,43103,227419,72,-122.426995,37.800873
4,31-03-2023 23:00,THEFT,GRAND THEFT FROM LOCKED AUTO,5,22024,227419,25,-122.437159,37.775975
...,...,...,...,...,...,...,...,...,...
373984,11-01-2018 00:01,THEFT,PETTY THEFT OF PROPERTY,1,70997,227419,332,-122.397814,37.782137
373985,11-01-2018 00:01,PROSTITUTION,UNLAWFUL SEXUAL INTERCOURSE,1,50296,2720,68,-122.417665,37.756291
373986,11-01-2018 00:01,FRAUD,"CREDIT CARD, THEFT BY USE OF",1,32974,227419,43,-122.403756,37.716710
373987,11-01-2018 00:01,FRAUD,MISSING ADULT,1,70997,8798,12029,-122.403405,37.775421
373988,11-01-2018 00:01,FRAUD,"CHECKS, FORGERY (FELONY)",1,43103,227419,179,-122.448278,37.804272

In [42]:
list1 = ['THEFT','PROSTITUTION','FRAUD','OTHER OFFENSES','KIDNAPPING','ASSAULT','DRUNKENNESS']

In [43]:
list1

['THEFT',
 'PROSTITUTION',
 'FRAUD',
 'OTHER OFFENSES',
 'KIDNAPPING',
 'ASSAULT',
 'DRUNKENNESS']

In [44]:
import re
pattern = '|'.join(list1)
data['matched_word'] = data['Descript'].str.extract(f'({pattern})', flags=re.IGNORECASE)

In [45]:
data=data.fillna(0)

In [46]:
data

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,matched_word
0,31-03-2023 23:57,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",5,50296,83662,13,-122.406803,37.757763,0
1,31-03-2023 23:55,OTHER OFFENSES,COMMITTING PUBLIC NUISANCE,5,26714,227419,15,-122.479590,37.738186,0
2,31-03-2023 23:50,OTHER OFFENSES,"MALICIOUS MISCHIEF, BREAKING WINDOWS",5,22024,227419,82,-122.444524,37.770370,0
3,31-03-2023 23:30,THEFT,GRAND THEFT FROM LOCKED AUTO,5,43103,227419,72,-122.426995,37.800873,THEFT
4,31-03-2023 23:00,THEFT,GRAND THEFT FROM LOCKED AUTO,5,22024,227419,25,-122.437159,37.775975,THEFT
...,...,...,...,...,...,...,...,...,...,...
373984,11-01-2018 00:01,THEFT,PETTY THEFT OF PROPERTY,1,70997,227419,332,-122.397814,37.782137,THEFT
373985,11-01-2018 00:01,PROSTITUTION,UNLAWFUL SEXUAL INTERCOURSE,1,50296,2720,68,-122.417665,37.756291,0
373986,11-01-2018 00:01,FRAUD,"CREDIT CARD, THEFT BY USE OF",1,32974,227419,43,-122.403756,37.716710,THEFT
373987,11-01-2018 00:01,FRAUD,MISSING ADULT,1,70997,8798,12029,-122.403405,37.775421,0
373988,11-01-2018 00:01,FRAUD,"CHECKS, FORGERY (FELONY)",1,43103,227419,179,-122.448278,37.804272,0

In [47]:
#droppin unwanted columns
data= data.drop('Dates',axis=1)

In [48]:
#label encoding Category and matched_word
label_encoder = LabelEncoder()
data['Descript'] = count_encoder.fit_transform(data['Descript'])
data['Category'] = label_encoder.fit_transform(data['Category'])
data['matched_word'] = data['matched_word'].astype(str)
data['matched_word']=label_encoder.fit_transform(data['matched_word'])

In [49]:
data

,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,matched_word
0,4,12060,5,50296,83662,13,-122.406803,37.757763,0
1,4,593,5,26714,227419,15,-122.479590,37.738186,0
2,4,2162,5,22024,227419,82,-122.444524,37.770370,0
3,6,29566,5,43103,227419,72,-122.426995,37.800873,6
4,6,29566,5,22024,227419,25,-122.437159,37.775975,6
...,...,...,...,...,...,...,...,...,...
373984,6,10473,1,70997,227419,332,-122.397814,37.782137,6
373985,5,50,1,50296,2720,68,-122.417665,37.756291,0
373986,2,4048,1,32974,227419,43,-122.403756,37.716710,6
373987,2,3611,1,70997,8798,12029,-122.403405,37.775421,0
373988,2,294,1,43103,227419,179,-122.448278,37.804272,0

In [50]:
csv_file='encoded.csv'

In [51]:
data.to_csv(csv_file, index=False)